<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	@Styles.Render("~/corecss")
	@Styles.Render("~/coreless")
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top navbar-photo-story">
		<div class="container">
			<a class="navbar-brand" href="#">PhotoStory</a>
			@Html.Partial("~/Views/Shared/_NavigationAuthentication.cshtml");
		</div>
	</nav>
	
    @RenderBody()

	<div class="container">
		<hr />
	</div>

	@Scripts.Render("~/corejs")
	@{
		var isDebug = 
#if DEBUG
			true;
#else
			false;
#endif
	}

	<script>
		require(["@Url.Content("~/Scripts/App.js")"], function (App) {
			App.start(@isDebug.ToString().ToLower())
		});
	</script>
	@RenderSection("scripts", required: false)
</body>
</html>
