<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	@Styles.Render("~/Content/bootstrapcss")
	@Styles.Render("~/Content/less")
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<a class="navbar-brand" href="#">PhotoStory</a>
				@Html.Partial("~/Views/Shared/_NavigationAuthentication.cshtml");
			</div>
		</nav>
	</header>
	
	<div style="padding-top: 20px;">
		@RenderBody()
	</div>
	

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrapjs")
	@RenderSection("scripts", required: false)

	<div class="container">
		<hr />
	</div>

	<footer>
		<div class="container">
			© Michael Fry-White 2015
		</div>
	</footer>
</body>
</html>
